{% extends "accounts/index.html" %}
{% block title %}Email Activation Failed{% endblock %}
{% block content %}
	<h1 style="font-weight: bold;">WWC V4 EMAIL ACTIVATION FAILED</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<div>
				<p>Sorry! This link is invalid or has been used already!</p>
				<!-- <a class="resend-email" href="">RESEND ACTIVATION EMAIL</a> -->
				<input class="resend-email" onclick="window.location=`{{ url_for('accounts_router.resend_activation_email', email=email) }}`" type="submit" value="RESEND ACTIVATION EMAIL">
            </div>
		</div>
	</div>
{% endblock %}