{% extends "accounts/index.html" %}
{% block title %}Email Activation Sent{% endblock %}
{% block content %}
	<h1 style="font-weight: bold;">WWC V4 EMAIL ACTIVATION FAILED</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<div>
    				<p>Check your email for {% if resent == True %}new {% endif %}activation link!</p>
				<input class="resend-email" onclick="window.location=`{{ url_for('accounts_router.resend_activation_email', email=email) }}`" type="submit" value="RESEND ACTIVATION EMAIL">
            </div>
		</div>
	</div>
{% endblock %}